@font-face  {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face  {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html  {
  height: 100%;
}

body  {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.button-brown {
  background-color: #756257;
}

.button-search  {
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  border-radius: 10px;
}

.button-subscription  {
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  outline: none;
}

.button-mode  {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000000;
  text-decoration: none;
}

.button-green {
  background: #7DB54F;
}

.button-show-more  {
  width: 625px;
  height: 55px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-link  {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link  {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.navigation-item  {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navigation-list  {
  margin: 0;
  padding: 0;
}

.welcome  {
  background-image: url("../images/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
}

.welcome-logo {
  display: block;
  margin: auto;
}

.opening  {
  text-align: center;
}

.advantages-list  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 384px;
}

.advantages-item  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 384px;
}

.dark-blue  {
  background-color: #83B3D3;
}

.blue {
  background-color: #83B3D320;
}

.light-blue {
  background-color: #83B3D312;
}

.white  {
  background-color: #FFFFFF;
}

.advantages-title-white {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description-white {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.search {
  padding: 91px 0;
  text-align: center;
}

.subscription-index {
  text-align: center;
  background-image: url("../images/subscription-background.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
}

.subscription-title-white  {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription-description-white {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.subscription {
  text-align: center;
}

.title  {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.description  {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

input::placeholder  {
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
  opacity: 0.6;
}

.page-footer-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-footer a{
  text-decoration: none;
  color: #000000;
}

.phone-number {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.header-catalog {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.header-catalog-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-sort {
  display: flex;
  flex-direction: column;
}

.catalog  {
  display: flex;
  flex-direction: column;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-item  {
  line-height: 23px;
}

.catalog-filter-group {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-catalog-filter  {
  display:flex;
}

.sorting-block {
  display: flex;
  justify-content: space-between;
}

.form-sort  {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.product {
  display: flex;
}

.hotel-container  {
  display: flex;
  flex-direction: column;
}

.hotel-name {
  font-size: 24px;
  line-height: 31px;
}

.type-of-housing  {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.price  {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-rate-two {
  width: 36px;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.hotel-rate-three {
  width: 54px;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.hotel-rate-four {
  width: 72px;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.rating {
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-container {
  width: 1056px;
  display: flex;
  justify-content: space-between;
}

.pagination {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  display: flex;
}

.pagination-link  {
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.form-sort-number {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.wrapper  {
  width: 1200px;
  background-color: #FFFFFF;
  padding: 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
